version: "2.1"

services:
  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - ./mongo/data:/data/db
    ports:
      - ${MONGO_INITDB_PORT:-27017}:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - mongodb-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo db:${MONGO_INITDB_PORT}/speech-api --quiet
      interval: 30s
      timeout: 15s
      retries: 5

  mongo-express:
    image: mongo-express
    restart: unless-stopped
    volumes:
      - ./mongo/data:/data/db
    ports:
      - 8081:8081
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_URL: ${ME_CONFIG_MONGODB_URL}
      ME_CONFIG_MONGODB_SERVER: ${ME_CONFIG_MONGODB_SERVER}
    networks:
      - mongodb-network

networks:
  mongodb-network:
    driver: bridge
